<div class="container">
  <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
    <div class="row">
      <div class="row col-sm-6">
        <div class="form-group">
          <label>Name</label>
          <input
            type="text"
            name="name"
            class="form-control"
            ngModel
            required
            #name="ngModel"
          />
          <span class="help-block" *ngIf="name.touched && name.invalid">
            Please enter the name
          </span>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input
            type="email"
            name="email"
            class="form-control"
            ngModel
            required
            email
            #email="ngModel"
          />
          <span class="help-block" *ngIf="email.touched && email.invalid">
            Please enter the email id
          </span>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            ngModel
            required
            #password="ngModel"
          />
          <span class="help-block" *ngIf="password.touched &&password.invalid">
            Please enter the password
          </span>
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input
            type="password"
            name="cPassword"
            class="form-control"
            ngModel
            required
            #cPassword="ngModel"
          />
          <span class="help-block" *ngIf="cPassword.touched &&cPassword.invalid">
            Please enter the confirm password
          </span>
        </div>
      </div>
      <div class="row col-sm-6">
        <div class="form-group">
          <label>Gender</label>&nbsp;&nbsp;&nbsp;&nbsp;
          <input
            type="radio"
            value="male"
            name="gender"
            class="form-control"
            ngModel
            required
            #gender="ngModel"
          />Male
          <input
            type="radio"
            value="female"
            name="gender"
            class="form-control"
            ngModel
            required
            #gender="ngModel"
          />Female
          <span class="help-block" *ngIf="gender.touched && gender.invalid">
            Please enter the name
          </span>
        </div>
        <div class="form-group">
          <label>Countrty</label>&nbsp;&nbsp;&nbsp;
          <select
            class="form-control"
            name="country"
            ngModel
            required
            #country="ngModel"
          >
            <option *ngFor="let data of Country">{{ data.countryname }}</option>
          </select>
          <span class="help-block" *ngIf="country.touched &&country.invalid">
            Please select the country
          </span>
        </div>
        <div class="form-group">
          <label>Photo</label>
          <input
            type="file"
            name="profile"
            class="form-control"
            ngModel
            required
            #profile="ngModel"
          />
          <span class="help-block" *ngIf="profile.touched &&profile.invalid">
            Please upload  the file
          </span>
        </div>
        <div class="form-group">
          <label>Do you agree</label>
          <input
            type="checkbox"
            name="agreement"
            class="form-control"
            ngModel
            required
            #agreement="ngModel"
          />
          <span class="help-block" *ngIf="agreement.touched &&agreement.invalid">
            Please click the agree
          </span>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
